/* utility */
.bg-green{
    background: #1abc9c;
}
/* end utility */

.navbar{
    background: #2c3e50;
}
.header,
.about-section{
    color: #fff;
}
.avatar-img{
    width: 250px;
}
.header h1{
    font-size: 50px;
    margin: 20px 0;
}
.star-decoration{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-decoration>i{
    margin: 0 10px;
}
.star-decoration>div{
    width: 8%;
    height: 4px;
    background: #fff;
    border-radius: 10px;
}
.form>*:not(button){
    border-style: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.form>*:not(button):focus-visible{
    outline: none;
}
.placeholder-style::placeholder{
    color: #000;
    font-size: 20px;
}
.form button{
    font-size: 20px;
    color: #fff;
    border: none;
}
.form button:hover{
    color: #fff;
    transform: scale(1.1);
}
.footer{
    background: #3a546d;
    color: #fff;
}
.web-icon div{
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 2%;
}
.footer .row>div:last-child span{
    color: #1abc9c;
}
.copyright{
    background: #2c3e50;
    color: #fff;
}
.copyright .row{
    height: 100%;
}